<div class="container-fluid" style="width: 80%;margin-left:250px;margin-top:70px;">
    <hr>
    <div class="alert alert-secondary" role="alert">
        Welcome Back
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Patient's Exercise Routine</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Status</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Muscle stretching</td>
                            <td>
                                <div class="toggle">
                                    <label>
                                        <input type="checkbox" disabled="">
                                        <span class="button-indecator"></span>
                                    </label>
                                </div>
                            </td>
                            <td>5 mins</td>
                        </tr>
                        <tr>
                            <td>Massage and soft tissue techniques</td>
                            <td>
                                <div class="toggle">
                                    <label>
                                        <input type="checkbox" disabled="">
                                        <span class="button-indecator"></span>
                                    </label>
                                </div>
                            </td>
                            <td>5 mins</td>
                        </tr>
                        <tr>
                            <td>Neurodynamics</td>
                            <td>
                                <div class="toggle">
                                    <label>
                                        <input type="checkbox" disabled="">
                                        <span class="button-indecator"></span>
                                    </label>
                                </div>
                            </td>
                            <td>30 sec</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <div class="post-media">
                        <a href="#">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg">
                        </a>
                        <div class="content">
                            <h5>
                                <a href="#">John Doe</a>
                            </h5>
                            <p class="text-muted">
                                <small>2 January at 9:30</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile-body">
                    <p>Eat a well-balanced, low-fat diet with lots of fruits, vegetables and whole grains. Choose a diet that's
                        low in saturated fat and cholesterol, and moderate in sugar, salt and total fat.</p>
                </div>
            </div>
        </div>
    </div>
</div>